#parent{
    
    height: 547px;
    width: 389px;
    border: 1px solid black;
    margin : 50px auto 50px auto;
    text-align: center;
    border-radius : 50px;
    box-shadow: 3px 3px 20px 5px grey ;
    background-image: url(stele.jpg);
    background-size: 390px 190px;
    background-repeat: no-repeat; 
    position: relative;
}




}
.content .image-container { 
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    top: 100px;
    left: 50px;
    
    
}

.social-media img {
    margin:10px 35px 10px 35px;
    height: 40px;
    width: 40px;
    border-radius:50%;

}

/*.social-media{
    width: 389px;
    position: absolute;
    top: 490px;
    text-align: center;

}
*/

.content{
    width: 389px;
    position: absolute;
    top: 280px;
    text-align: center;
    padding: 10px auto 10px auto; 
    font-family: 'Segoe UI'

    
}

.content p{
    padding: 0px 37px 0px 37px;
    margin: 0px auto 0px auto;
    font-size: 13px;
}

.contact {
    padding: 10px;
}
.contact .name{
    font-size: 22px;
    font-style: bold;
}

.contact .job{
    font-size: 20px;
    padding: 10px;
}
.details{
    padding-bottom: 20px;
}
